body
{
  margin: 0;
  /*overflow-y: hidden;*/
  background: tomato;
}

#root
{
  display: block;
  float: left;
}

#header a
{
  display: block;
  float: left;
}
.board
{
  padding: 10px;
  height: 100%;
}

.list
{
  background-color: lightgray;
  display: inline-block;
  float: left;
  float: bottom;
  margin: 1rem;
  padding: 1rem;
  width: 17rem;
}

.listContainer
{
  padding: 1rem;
  background-color: white;
}

.listName
{
  width: 15rem;
}

.card
{
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin : 1rem 0rem;
  overflow: wrap;
}

.cardName
{
  display:inline-block;
  word-wrap: break-word;
  position: relative;
  width: 13rem;
  position: relative;
}

.deleteCard
{
  display: none;
}

.card:hover .deleteCard
{
  width: 1rem;
  border: none;
  display: inline-block;
  float: right;
}