body
{
  margin: 0;
}

.board
{
  display: grid;
  grid-auto-columns: max-content;
  grid-gap: 10px;
  padding: 10px;
  grid-auto-flow : column;
}

.list
{
  background-color: lightgray;
  padding: 1rem;
  margin-top: 1rem;
  overflow-y: auto;
}

.listContainer
{
  padding: 1rem;
  background-color: white;
}

.listName
{
  width: 15rem;
}

.card
{
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  margin : 1rem 0rem;
}

.cardName
{
  width: 15rem;
}